.place
  = render partial: 'places/header' 
  .place__all
    .place_user_name
      %h1
        = current_user.name
        さんの投稿一覧
        = paginate @places
      .place__all__pictures
      - @places.each do |place|
        .place__box
          .place__list__item
            .place__list__item__user
              %span
                = place.title
            .place__list__item__time 
              = place.created_at.strftime("%Y/%m/%d %H:%M")
          .place__list__item__image
            = link_to place do
              = image_tag place.images[0].image.url
          .place__list__item__address
            %span
              = place.address
            - if place.user_id == current_user.id
              .place__list__link
                = link_to edit_place_path(place) do
                  %i.far.fa-edit
                = link_to place, method: :delete, data: { confirm: '削除してよろしいですか?' } do
                  %i.far.fa-trash-alt
            .likes_count
              %i.far.fa-heart
                = place.likes_count
   
    .place_likes_user_name
      %h2 
        = current_user.name
        さんのいいね！一覧
      .place_likes_all.clearfix
      - @likes.each do |like|
        .place__box
          .place__list__item
            .place__list__item__user
              %span
                = like.place.title
            .place__list__item__time 
              = like.place.created_at.strftime("%Y/%m/%d %H:%M")
          .place__list__item__image
            = link_to like.place do
              = image_tag like.place.images[0].image.url
          .place__list__item__address
            %span
              = like.place.address
            - if like.place.user_id == current_user.id
              .place__list__link
                = link_to edit_place_path(like.place) do
                  %i.far.fa-edit
                = link_to like.place, method: :delete, data: { confirm: '削除してよろしいですか?' } do
                  %i.far.fa-trash-alt
            .likes_count
              %i.far.fa-heart
                = like.place.likes_count

