.place__box
  .place__list__item
    .place__list__item__user
      = place.user.name
    .place__list__item__time 
      = place.created_at.strftime("%Y/%m/%d %H:%M")
  .place__list__item__image
    = link_to place do
      = image_tag place.images[0].image.url
  .place__list__item__address
    %span 
      = place.address
    - if place.user_id == current_user.id
      .place__list__link 
        = link_to edit_place_path(place) do
          %i.far.fa-edit
        = link_to place, method: :delete, data: { confirm: '削除してよろしいですか?' } do
          %i.far.fa-trash-alt
    .likes_count
      .like-link{id: "like-link-#{place.id}"}
        = render partial: 'likes/like', locals: {place: place}