.place__box
  .place__list__item
    .place__list__item__user
      = place.user.name
    .place__list__item__time 
      = place.created_at.strftime("%Y/%m/%d %H:%M")
  .place__list__item__image
    = link_to place,data: {turbolinks: false} do
      = image_tag place.images[0].image.url
  .place__list__item__address
    %span 
      = place.address
    .likes_count
      %i.far.fa-heart
        = place.likes_count