= form_for @place do |f|
  - if @place.errors.any?
    #error_explanation
      %h2= "#{pluralize(@place.errors.count, "error")} prohibited this place from being saved:"
      %ul
        - @place.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
  %p
    = f.text_field :title
  .field
    = f.label :address
  %p
    = f.text_field :address
  .field
    = f.label :description
  %p
    = f.text_area :description
  .field
    = f.label :images
  %p
    = f.file_field :images, multiple: true
  .field
    = f.label :latitude
  %p
    = f.text_field :latitude
  .field
    = f.label :longitude
  %p
    = f.text_field :longitude
  .actions
    = f.submit 'Save'
