= form_for @place do |f|
  - if @place.errors.any?
    #error_explanation
      %h2= "#{pluralize(@place.errors.count, "error")} prohibited this place from being saved:"
      %ul
        - @place.errors.full_messages.each do |message|
          %li= message
  
  .field
    = f.label :images
    ※必須
  %p
    = f.file_field :images, {class: "new__place__images", multiple: true}
  .field
    = f.label :title
    ※必須
  %p
    = f.text_field :title,{class: "new__place__title"}
  .field
    = f.label :address
    ※必須
  %p
    = f.text_field :address,{class: "new__place__address", placeholder:"例 スターバックス 道玄坂店"}
  .field
    = f.label :description
    ※必須
  %p
    = f.text_area :description,{class: "new__place__description",placeholder: "例 とても混雑していたがスターバックスラテは相変わらず美味しい！！"}

  .actions
    = f.submit '投稿する',{class: "btn new__place__btn"}