.place
  = render partial: 'places/header' 
  .place__all
    = form_with(url: all_places_path, method: :get, class: "place__all__form", local: true) do |f|
      = f.text_field :search, class: 'search-input'
      = f.submit '検索する', class: "btn-square"
    .place__all__pictures
      = render partial: 'places/collection', collection: @places, as: :place
     