.place
  = render partial: 'places/header'
  .details
    .place__details
      .place__details__page
        .place__details__title
          = @place.title
        .place__details__images
          .place__details__images-main
            = image_tag @place.images[0].url
          .place__details__images-thumbnails
            - @place.images.each do |image|
              = image_tag image.url
        .place__details__map
          #map{style: "width: 400px; height: 400px;"}
          :javascript
            function initMap() {
              var test ={lat: #{@place.latitude}, lng: #{@place.longitude}};
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: test
              });
              var transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);

              var contentString = '住所：#{@place.address}';
              var infowindow = new google.maps.InfoWindow({
                  content: contentString
              });

              var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
              });
              marker.addListener('click', function() {
                  infowindow.open(map, marker);
              });
            }
          %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&key= #{ ENV['GOOGLE_MAPS_API_KEY'] }\n\n&callback=initMap"}
          :cdata
        .place__details__explanation
          %h1 投稿者名
          .place__username
            =@place.user.name
          %h2 住所又は施設名など
          .place__address
            = @place.address
          %h3 説明
          .place__description
            = @place.description
    .place__comments
      .place__comment__container
        .place__comment
          %ul.comment__items
            - @comments.each do |c|
              - if c.user_id == current_user.id
                %li.clearfix.comment__self
                  %a.comment__user
                    %figure
                      %figcaption.bold
                        = c.user.name
                  .comment__body
                    .comment__body__text
                      = c.comment
                    %i
              - elsif @place.user.id == c.user_id
                %li.clearfix
                  %a.comment__user
                    %figure
                      %figcaption.bold
                        = c.user.name
                        %span 投稿者
                  .comment__body
                    .comment__body__text
                      = c.comment
                    %i
              - else
                %li.clearfix
                  %a.comment__user
                    %figure
                      %figcaption.bold
                        = c.user.name
                  .comment__body
                    .comment__body__text
                      = c.comment
                    %i
        .place__comment
          .place__comment__content
          
            = form_with url: place_comments_path(@place.id) do |f|
              .comment-form
                %p 相手のことを考え丁寧なコメントを心がけましょう。
                = f.text_field :comment, {class: "textarea-default"}
                = f.submit 'コメントする',{class: "button comment-submit-btn"}
